@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is the test ASP.NET MVC application for the IoC container project.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Test ASP.NET MVC Application</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dui lacus, aliquam quis commodo nec, tempus nec dolor. Aenean dictum nunc euismod lectus commodo semper. Donec imperdiet ex dolor, in dignissim justo commodo et. Nam tellus sem, lacinia ultrices enim ac, convallis pulvinar augue. Phasellus laoreet dapibus est, et rutrum ante. Phasellus metus lectus, interdum in placerat id, sodales quis magna. Sed ac diam augue.
        </p>
    </div>
</div>